<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".html" mimeType="text/html" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="Rewrite to inicio.html" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="inicio.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
